{% extends 'base.html' %}

{% block title %}Trang chu{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="/" enctype="multipart/form-data" class="row g-3">
        <h4>Nhập dữ liệu sinh viên đăng ký môn học</h4>

        {% if message and cue %}
            <div class="alert alert-{{ cue }}" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <div class="col-md-2">
            <label class="form-label" for="csv_file">Chọn file CSV: </label>
        </div>
        <div class="col-md-7">
            <input class="form-control" type="file" name="csv_file" id="csv_file" accept=".csv">
        </div>
        <div class="col-md-3">
            <input class="btn btn-success" type="submit" value="Tải lên">
        </div>
    </form>

    <hr>

    <h4>Danh sách dữ liệu đã nhập</h4>
    {% if csv_files %}
    <form method="post", action="{{ url_for('schedule') }}">
        Chọn file dữ liệu cần xếp lịch thi:
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên file</th>
                    <th scope="col">Ngày tải lên</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {% for csv_file in csv_files %}
                <tr>
                    <td scope="row">
                        <input type="radio" name="csv_file" value="{{ csv_file.id }}" />
                    </td>
                    <td>{{ csv_file.name }}</td>
                    <td>{{ csv_file.date_uploaded }}</td>
                    <td>
                        <form action="/delete-csv/{{ csv_file.id }}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <button class="btn btn-success" type="submit">Xếp lịch thi</button>
    </form>

    {% else %}
    <p>Chưa có file tải lên.</p>
    {% endif %}
</div>
{% endblock %}
